.main-cards{
   position: relative !important; 
}

.card-content{
    display: none !important;
    position: absolute;
    top: 110px;
    left: 140px;
}


.item-img:hover + .card-content{
    display: flex !important;
}

.item-img:hover  {
    box-shadow: 10px 10px 5px rgb(214, 217, 218) !important;
}

.box{
    font-size: 10px;
    border: 1px solid rgb(132, 128, 128);
    padding: 8px;
    box-shadow: 10px 10px 5px  rgb(214, 217, 218) !important;
}

.content{
    margin-top: 10%;
    margin-bottom: 10%;
}