
.main-card{
    width: 100%;
    /* margin-top: 10%; */

}
.home-p{
    margin-top: 7%;
}
.main{
    width: 70%;
    margin-top: 7%;
}

.text-f{
    font-size: 18px;
}

.line{
    border-style: dashed;
    width: 200px;
}
.img-r{
    border-radius: 50px;
}

/* .home-card-img{
    margin-top: -70px;
} */



  .hrStyle{
    width: 900%;
    /* margin-bottom: -10%; */
    border-top: 1px solid #000;
  }