
.main-card{
    width: 100%;

}
.home-p{
    margin-top: 7%;
}
.main{
    width: 70%;
    margin-top: 7%;
}

.text-f{
    font-size: 18px;
}

.line{
    border-style: dashed;
    width: 200px;
}
.img-r{
    border-radius: 50px;
}

  .hrStyle{
    width: 900%;
    border-top: 1px solid #000;
  }