*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Hind', sans-serif;
font-family: 'Noto Sans', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Roboto', sans-serif;
}

.t-center{
    text-align: center;
}

.img-pic{
    border-radius: 25px;
}
.t-bold{
    font-weight: bold;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.b-white{
    background-color: white;
    color: black;
}

.btn-r{
    border-radius: 20px;
}

.auto-center{
    margin-left: auto;
    margin-right: auto;
}
