   .video-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
  }
  
  .video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }
  
  .overlay-text {
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Pacifico', cursive;
    position: absolute;
    top: 10%;
    left: 20%; 
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px; 

  }
  @media (max-width: 851px){
    .col-md-4{
display: none;
    }
  }
  
  .signu{
    max-width: 10% !important;
  }

  .login-form{
    padding: 10px;
    margin-top: 8%;
  }
  
  .signup-form{
    padding: 10px;

    margin-top: 10%;
  }
  .bottem{
    margin-top: 16%;
    margin-bottom: 7%;
  }
  .f-s{
font-size: 13px;
  }